# Created by http://www.gitignore.io

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
.idea/
nb-configuration.xml
*.xml
.idea/sonarlint/issuestore/2/9/292f6d2ec699c4e7d53199b23ba45a2b74041cc1
.idea/sonarlint/issuestore/3/0/3006e30c9510b45563da33c1b7b61295866b5eb1
.idea/sonarlint/issuestore/3/e/3e1e04b57318b557f1917d97c4eaf6c9f95def97
.idea/sonarlint/issuestore/7/2/723c79e09d050ab50fdd3795dbf7d7934bb0b391
.idea/sonarlint/issuestore/7/9/794c442aafc4b7ba9e28f85152f8bf77fb29ab57
.idea/sonarlint/issuestore/9/9/993b64278528f221c8ae0a494159a08ba981de3b
.idea/sonarlint/issuestore/a/7/a7fc2e6d16155dd95187d898eb403f8fae118225
.idea/sonarlint/issuestore/c/5/c5fa6bd798847febe46acec5685a627e889f0f2e
.idea/sonarlint/issuestore/e/4/e4a88bc16e25db878d899ce7eda1a6a436bd4f46
.idea/sonarlint/issuestore/f/2/f27108a245d8bb8982ab13c66441e9cf7365f5f2
.idea/sonarlint/issuestore/f/3/f3ac762c7a7cf8a629448c712cd4e2ebce6d3f52
